h2 {
    color: #c8aa7e;
}

h3 {
    color: #c8aa7e;
}

/* Transforma o texto para UPPERCASE */
.uppercase-input {
    text-transform: uppercase;
}


/* Centraliza os Botoes dos Modais - dialog */
.modal-footer {
    text-align: center;
}

/* Muda a cor do componente Spinner */
.ui-spinner .ui-spinner-button {
    background-color: #c8aa7e;
}

/* Cor do hover do spinner */
.ui-spinner:hover .ui-spinner-button {
    background-color: rgba(200, 170, 126, 0.93);
}

/* Cor da borda do botão do spinner */
.ui-spinner .ui-spinner-button {
    border-color: #c8aa7e;
}

/* Cor da borda do botão do spinner durante o hover */
.ui-spinner:hover .ui-spinner-button {
    border-color: #c8aa7e;
}